@import '../variables';
@import '../utilities';

.datetime {
	padding-bottom: 1rem;

	@include breakpoint(md) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__time,
	&__zone {
		display: block;
		text-align: center;

		@include breakpoint(md) {
			display: inline-block;
		}
	}

	&__time {
		margin-bottom: 0.5rem;

		@include breakpoint(md) {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-bottom: 0;
		}

		.material-icons-outlined {
			display: block;

			@include breakpoint(md) {
				display: inline-block;
				margin-right: 0.5rem;
			}
		}
	}

	&__zone {
		font-size: 0.8rem;
	}
}