@import '../variables';
@import '../utilities';

.details {
	width: auto;
	margin-left: auto;

	&__item {
		margin-top: 0.5rem;

		&:first-child {
			margin-top: 0;
		}

		&__description {
			text-transform: uppercase;
			font-weight: bold;
		}
	}
}