@import '../variables';
@import '../utilities';

.today {
	display: flex;
	flex-wrap: nowrap;
	padding-top: 0;

	&__text {
		border-top: 1px solid $border-color;
		padding-top: 1rem;
		padding-bottom: 1rem;
		width: 100%;

		@include breakpoint(md) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}