@import '../../variables';
@import '../../utilities';

.temperature {
	color: var(--primary);

	font-weight: 500;

	&__amount {
	}

	&__units {
	}

	&--small {
		display: block;
		font-size: 0.9rem;
	}

	&--large {
		font-size: 3rem;
	}
}