@import '../../variables';
@import '../../utilities';

.today {
	display: flex;
	flex-wrap: nowrap;
	padding-top: 0;

	&__text {
		border-top: 1px solid $border-color;
		padding-top: 1rem;
		padding-bottom: 1rem;
		width: 100%;

		@include breakpoint(md) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__temperature {
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			width: 100%;
			flex-basis: 100%;
			margin-bottom: 0.5rem;

			@include breakpoint(md) {
				width: 60%;
				flex-basis: 60%;
				justify-content: flex-start;
				margin-bottom: 0;
			}

			&__image-wrap {
				overflow: hidden;
				margin-right: 1rem;
				width: 4rem;
				height: 4rem;

				img {
					height: 100%;
					width: 100%;
					transform: scale(1.4);
				}
			}
		}
	}
}