@import '../../variables';
@import '../../utilities';

.title {
	font-size: 1.8rem;
	text-align: center;
	color: var(--primary);

	@include breakpoint(md) {
		font-size: 2rem;
		text-align: left;
	}
}