@import '../variables';
@import '../utilities';

.search-form {
	width: 100%;
	display: flex;
	background: #f1f1f1;
	padding: 0.25rem 1rem;
	box-sizing: border-box;
	transition: all 0.3s ease;
	margin-bottom: 1rem;

	&:focus-within {
		box-shadow: 0 0 5px 0 var(--primary);
	}

	input, button {
		border-radius: 0;
		border: 0;
	}

	input {
		flex-grow: 1;
		background: transparent;
		min-height: 2.5rem;

		&:focus {
			border: 0;
			outline: 0;
		}
	}

	button {
		background: transparent;
		font-size: 1.25rem;
		line-height: 0;
		cursor: pointer;
		padding: 0;
		color: var(--primary);

		.material-icons {
			font-size: 2rem;
		}

		&:hover, &:focus {
			color: var(--secondary);
		}
	}
}